<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--
This was lifted from Stack Overflow and describes a Hibernate Connection to MySQL. I will likely need to
update this later, since I may also want to work with H2 and/or PostGRES
-->
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.H2Dialect
        </property>

        <property name = "hibernate.connection.driver_class">
           org.h2.Driver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:h2:mem:testdb
        </property>

        <property name = "hibernate.connection.username">
            sa
        </property>

        <property name = "hibernate.connection.password">
           password
        </property>

        <mapping class="us.hgmtrebing.Effectual.impl.User" />
        <mapping class="us.hgmtrebing.Effectual.impl.Project"/>

        <!--
        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>


        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost/test
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            root123
        </property>

        <mapping resource = "Employee.hbm.xml"/>
        -->

    </session-factory>
</hibernate-configuration>